
#id{
  display: flex;
  justify-content: left;
}
#welcome{
  display: flex;
  justify-content: center;
}
#new_container{
  border-style: solid;
  border-width: thin;
  border-radius: 1%;
  margin: 10px;
  background-color: rgb(153, 103, 153);
}
#title{
  display: flex;
  justify-content: center;
  font-style: italic;
  font-weight: 200;
}
#des{
  display: flex;
  justify-content: center;
  font-size: large;
}
#date{
  display: flex;
  margin-left: 70%;
}
#url{
  display: flex;
  justify-content: center;
}
#image{
  display: flex;
  justify-content: center;
}
