
<div id="new" *ngFor="let n of (new$ | async)?.news">
  <div id="new_container">
    <div id="profile">
      <img  id="profileimage" [src]="n.user.profile_image_90" alt="" >
      <div id="username">{{n.user.name}}</div>
    </div>
    <div id="title">
      <h1>{{ n.title }}</h1>
    </div>
    <div id="des">
      <p>{{ n.description }}</p>
    </div>
    <div id="date">
      <p>{{ n.readable_publish_date }}</p>
    </div>
    <div id="image"><img [src]="n.social_image" alt="" /></div>
    <div id="url">
      <p>{{ n.url }}</p>
    </div>
  </div>
  <!-- <div id="page">
    <div id="page_container">
      <button><mat-icon>keyboard_arrow_left</mat-icon></button>
    </div>
    <div id="page">{{ page }}</div>
      <button><mat-icon>keyboard_arrow_right</mat-icon></button>
  </div> -->
</div>
