#id{
  display: flex;
  justify-content: left;
}
#profile{
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 10px;
}
#username{
  font-size: 20px;
  margin: 5px 0px 20px 20px;
  font-weight: 500;
}
#profileimage{
  border-radius: 100%;
  border-style: solid;
  border-color: rgb(90, 13, 90);
}
#welcome{
  display: flex;
  justify-content: center;
}
#new_container{
  border-style: solid;
  border-width: thin;
  border-radius: 1%;
  margin: 10px;
  background-color: rgb(153, 103, 153);
}
#title{
  display: flex;
  justify-content: center;
  font-style: italic;
  font-weight: 200;
}
#des{
  display: flex;
  justify-content: center;
  font-size: large;
}
#date{
  display: flex;
  margin-left: 70%;
}
#url{
  display: flex;
  justify-content: center;
}
#image{
  display: flex;
  justify-content: center;
}
